.header {
  text-align: center;
  position: relative;
  .cover{
    position: absolute;
    z-index: 1;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    overflow: hidden;
    img {
      left: 50%;
      top:50%;
      min-width: 100%;
      transform: translate(-50%, -50%);
    }
  }
  .content{
    position: relative;
    z-index: 3;
    min-height: 350px;
    .bar {
      background: rgba(255,255,255,0.7);
      border-bottom: 1px solid $grey-light;
      position: fixed;
      top:0;
      left:0;
      right: 0;
      transform: translate3d(0px,0px,0px);
    }
    .logo{
      margin: 0 auto;
      display: block;
      position: absolute;
      filter: drop-shadow(5px 5px 5px #222);
    }
  }
  &:before{
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(transparent 50%, $white);
  }
  &:after{
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient($white, transparent 60%);
  }
}
