.main {
  section{
    .content{
      max-width: 768px;
      margin: 0 auto;
      padding: 80px 20px 80px 20px;
      position: relative;
      h2 {
        position: relative;
        z-index: 2;
        text-align: center;
      }
      p{
        line-height: 2em;
        font-size: 16px;
        position:relative;
        z-index: 2;
        &.highlight{
          font-size: 24px;
          line-height: 1.2em;
          padding: 10px 20px;
          border-right: 3px solid $pink;
          text-align: right;
          margin-right: 10px;
        }
      }
      img {
        border: 3px solid $grey-light;
        border-radius: 100%;
        padding: 8px;
        background: $white;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
        max-width: 120px;
      }
      form{
        text-align: center;
        input{
          width: calc(50% - 7px);
          &:first-child{
            margin-right: 10px;
          }
          &[type="submit"]{
            max-width: 150px;
            &[disabled]{
              border: 1px solid $grey-light;
              color: $grey-light;
            }
          }
        }
        textarea{
          width: 100%;
        }
        .alert{
          font-size: 16px;
          margin: 10px 0 20px;
          padding: 5px;
          border-radius: 4px;
          &.sending{
            background: $blue-light;
          }
          &.sent{
            background: $green-light;
          }
          &.error{
            background: $red-light;
          }
        }
        .is-hidden{
          display: none;
        }
      }
      table{
        width: 90%;
        margin: 40px auto;
        clear: both;
        th {
          font-size: 14px;
        }
      }
    }
    &:nth-child(even){
      background: $grey-lighter;
      .content{
        img {
          border-color: $white;
          background: $grey-lighter;
        }
        p.highlight{
          border-right: 0;
          border-left: 3px solid $pink;
          text-align: left;
          margin-left: 10px;
        }
      }
    }
    @include respond-to(768) {
      .content{
        h2 {
          text-align: left;
        }
        img{
          padding: 15px;
          border-width: 6px;
          max-width: 100%;
          display: inline-block;
          float: left;
          margin-right: 20px;
          margin-bottom: 0px;
        }
      }
      &:nth-child(even){
        .content{
          img{
            display: inline-block;
            float: right;
            margin-left: 20px;
          }
        }
      }
    }
  }
}
