.nav {
  display: none;
  padding: 10px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 77px;
    text-align: left;
    li {
      display: inline-block;
      background: transparent;
      transition: background-color 100ms linear;
      margin: 0 0 0 -4px;
      border-left: 1px solid $grey-lighter;
      a {
        text-decoration: none;
        font-size: 16px;
        padding: 10px 15px;
        display: block;
        font-weight: 400;
        color: $blue-dark;
        outline: none;
      }
      &:hover{
        background: $grey-lighter;
        a {
          opacity: 0.8;
        }
      }
      &:active{
        background: $blue-lighter;
      }
    }
  }
  select{
    margin: 0;
    width: 95%;
    font-size: 16px;
  }
  &.mobile{
    display: block;
    padding-left: 60px;
  }
  @include respond-to(768) {
    display: block;
    padding: 7px 0;
    &.mobile{
      display: none;
    }
  }
}
