.nav {
  display: none;
  padding: 10px 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      background: transparent;
      transition: background-color 200ms linear;
      margin: 0;
      a {
        text-decoration: none;
        font-size: 15px;
        padding: 7px 10px;
        display: block;
        text-transform: uppercase;
        font-weight: 500;
      }
      &:active, &:hover{
        background: $blue-lighter;
        border-radius: 3px;
      }
      &:focus{
        border: 1px solid $blue-light;
      }
    }
  }
  select{
    margin: 0;
    width: 95%;
  }
  &.mobile{
    display: block;
    padding-left: 60px;
  }
  @include respond-to(768) {
    display: block;
    &.mobile{
      display: none;
    }
  }
}
